openapi: 3.0.1
info:
    title: TODO Plugin
    description: A plugin that allows the user to create and manage a TODO list using ChatGPT. If you do not know the user's username, ask them first before making queries to the plugin. Otherwise, use the username "global".
    version: "v1"
servers:
    - url: https://ned36itbyh.us.aircode.run
paths:
    /todos:
        post:
            operationId: manageTodo
            summary: Manage the list of todos
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/manageTodoRequest"
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/manageTodoResponse"

components:
    schemas:
        manageTodoRequest:
            type: object
            required:
                - action
                - username
            properties:
                action:
                    type: string
                    description: The action to perform. It can be "get", "add", or "delete".
                username:
                    type: string
                    description: The name of the user.
                todo:
                    type: string
                    description: The todo to add to the list. This field is required when action is "add".
                todo_idx:
                    type: integer
                    description: The index of the todo to delete. This field is required when action is "delete".
        manageTodoResponse:
            type: object
            properties:
                todos:
                    type: array
                    items:
                        type: string
                    description: The list of todos. This field is returned when action is "get".
